<div class="jumbotron">
  <h1>Meeting People is Easy</h1>
  <p class="lead">But getting to know the members of your small community can
  be difficult. <span class="boom">Dossier</span> helps small groups of people
  collectively build up useful and interesting information about their
  members.</p>
  <%= link_to 'Build your Community', new_community_path, :class => 'btn btn-large btn-success' %>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>The Context</h4>
    <p>You're in a group of people that doesn't know each other very well, but interacts on a regular basis.</p>
    <ul>
      <li>Small / Medium Sized Company</li>
      <li>Distributed Team</li>
      <li>Coworking Space</li>
    </ul>

    <h4>The Idea</h4>
    <p>Provide a platform for people to build and maintain a Dossier to present themselves to their community.  Allow for members of the community to contibute to the Dossiers of others (after approval by the individual)</p>
  </div>

  <div class="span6">
    <h4>The Problem</h4>
    <p>It's hard to get to know people. Not "know" like necessarily becoming best of friends, but rather "know" like getting a feel for the personality, position and responsibilites of each person.</p>

    <h4>Philosophy</h4>
    <p>The idea is to keep a Dossier super-simple and super-clean, and to stay focused on the idea of sharing in a small community.</p>
  </div>
</div>

<div class="row-fluid examples">
  <div class="span6">
    <p><strong><span class='boom'>Bob</span> was employee #1.</strong> He knows everything when it comes to historical questions.</p>
    <p><strong><span class='boom'>Alice</span> designed that t-shirt.</strong> She's in support but she's got a good eye for graphics.</p>
  </div>
  <div class="span6">
    <p><strong><span class='boom'>Laurie</span> loves open source.</strong> She's a developer and will geek out with you about Linux.</p>
    <p><strong><span class='boom'>Steve</span> likes to run.</strong> He runs marathons. He's also one of the top-level marketing guys.</p>
  </div>
</div>

