<div class="jumbotron">
  <h1>Meeting People is Easy</h1>
  <p class="lead">But what about getting to know them?</p>
  <a class="btn btn-large btn-success" href="#">Sign up today</a>
</div>

<hr>

<div class="row-fluid examples">
  <ul>
    <li><strong><em>Bob</em> has been here forever.</strong> He was the first guy selling our product and he knows everything when it comes to historical questions.</li>
    <li><strong><em>Alice</em> designed that t-shirt you've seen going around.</strong> She's in support but she's got a good eye for design.</li>
    <li><strong><em>Mallory</em> is a developer that's obsessed with running Linux</strong> and loves to help people with Linux-related problems.</li>
    <li><strong><em>Steve</em> just likes running.</strong> He runs marathons. He's also one of the top level marketing guys and knows what "brand management" means.</li>
  </ul>
</div>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>The Context</h4>
    <p>You're in a group of people that doesn't know each other very well, but interacts on a regular basis.</p>
    <ul>
      <li>Small / Medium Sized Company</li>
      <li>Distributed Team</li>
      <li>Coworking Space</li>
      <li>(maybe) Meetup / User Group</li>
    </ul>

    <h4>The Idea</h4>
    <p>Provide a platform for people to build and maintain a Dossier to present themselves to their community.  Allow for members of the community to contibute to the Dossiers of others (after approval by the individual)</p>
  </div>

  <div class="span6">
    <h4>The Problem</h4>
    <p>It's hard to get to know people. Not "know" like necessarily becoming best of friends, but rather "know" like getting a feel for the personality, position and responsibilites of each person.</p>

    <h4>Philosophy</h4>
    <p>The idea is to keep a Dossier super-simple and super-clean, and to stay focused on the idea of sharing in a small community.</p>
  </div>
</div>
