<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <div class='nav-collapse collapse'>
        <ul class='nav'>
          {{#view Dossier.LinkView route="index"}}
            {{#linkTo 'index'}}Home{{/linkTo}}
          {{/view}}
          {{#view Dossier.LinkView route="users"}}
            {{#linkTo 'users.index'}}Users{{/linkTo}}
          {{/view}}
        </ul>

        {{#if Dossier.Auth.signedIn}}
          show something
        {{else}}
          <form class="navbar-search pull-right">
              <input type="text" class="span2" placeholder="Login">
              <input type="text" class="span2" placeholder="Password">
              <input type="submit" value="Login" class="btn"/>
          </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class='container' id='main'>
  <div class='content'>
    <div class='row'>
      <div class='span12'>
        <div class='page-header'></div>
        {{outlet}}
      </div>
    </div>
  </div>
</div>
