<h1>Users</h1>
<div class='span4'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
    {{#each controller}}
      <tr>
        <td>{{id}}</td>
        <td>{{#linkTo users.show this}}{{fullName}}{{/linkTo}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  {{#linkTo 'users.new' class='btn btn-primary'}}Create{{/linkTo}}
</div>

<div class='span6'>
  {{outlet}}
</div>
