/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0 20px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 50px;
  line-height: 1;
  font-family: 'Open Sans';
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  h4 {
    font-family: 'Open Sans';
  }
}
.marketing p + h4 {
  margin-top: 28px;
}

.examples {
  p {
    border-bottom: solid #ddd 1px;
    text-align: center;
    strong {
      font-family: 'Droid Serif';
      display: block;
      font-size: 20px;
      line-height: 1.2em;
      color: #000;
    }

    color: #999;
    padding: 10px;
  }
}

$community-radius: 10px;

.community-block {
  @extend .span4;
  background-color: #ddd;
  padding: 0.5em;
  -webkit-border-radius: $community-radius;
  -moz-border-radius: $community-radius;
  border-radius: $community-radius;
}
