body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.masthead {
  h3 {
    font-family: 'Open Sans';
  }
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

span.boom {
  color: #ff9640;
}

body,
input,
button,
select,
textarea,
.navbar-search .search-query {
  font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif;
}
