body {
  padding-top: 20px;
  background-color: #E8ECED;
}

.masthead {
  h3 {
    font-family: 'Open Sans';
  }
}

.nav {
  margin: 10px 0 0 0;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
  padding: 40px;
  background-color: #fff;
  min-height: 100%;
}
.container-narrow > hr {
  margin: 30px 0;
}

span.boom {
  color: #ff9640;
}

a {
  color: #ff9640;
}

body,
input,
button,
select,
textarea,
.navbar-search .search-query {
  font-family: 'Open Sans';
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}

.footer {
  text-align: center;
}

.footer-logo {
  margin: 0 auto;
  width: 60px;
}

.header-logo {
  width: 60px;
  padding: 0 10px;
}

.narrower {
  margin: 10px 0 !important;
}
