$avatar_shadow: 5px 5px 3px #888888;
.avatar {
  -webkit-box-shadow: $avatar_shadow;
     -moz-box-shadow: $avatar_shadow;
          box-shadow: $avatar_shadow;

  width: 175px;
}

h2 {
  font-family: 'Open Sans'; 
  line-height: 1em;
}

.bio {
  font-family: 'Droid Serif';
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
  color: #666;
  line-height: 1.4em;
  word-spacing: 5px;
}
