h2 {
  font-family: 'Open Sans'; 
  line-height: 1em;
}

$avatar_shadow: 5px 5px 3px #888888;
.avatar {
  -webkit-box-shadow: $avatar_shadow;
     -moz-box-shadow: $avatar_shadow;
          box-shadow: $avatar_shadow;

  width: 175px;
  margin-bottom: 10px;
}


.bio {
  font-family: 'Droid Serif';
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
  color: #666;
  line-height: 1.4em;
  word-spacing: 5px;
}

.title {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 16px;
}

.metadata {
  list-style-type: none;
  margin-left: 0;

  li {
    line-height: 2em;
  }

  i {
    color: #999;
    padding: 5px;
  }
}

.simple-facts {
  list-style-type: none;
  margin-left: 0;

  li {
    padding: 20px;

    p {
      padding: 10px;
    }
  }

  .author {
    color: #999;
  }
}

$small_avatar_shadow: 3px 3px 1px #888888;
.small-avatar {
  -webkit-box-shadow: $small_avatar_shadow;
     -moz-box-shadow: $small_avatar_shadow;
          box-shadow: $small_avatar_shadow;

  width: 60px;
  margin: 0 10px;
  display: block;
  float: left;
}
